body{
    font-family: "Agdasima", sans-serif;
    font-size: 1.5rem;
    color: #454138;
    background-color: #d1cdb7;
    -webkit-background-size: 0.3rem 0.3rem;
    background-size: 0.3rem 0.3rem;
    background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
    box-sizing: border-box;
}
.navbar{
    height: 80px;
    border: solid #454138;
    border-width: 0.1rem 0;
    transition: all 0.5s ease;
}
.navbar .container-fluid .navbar-brand span{
    letter-spacing: 10px;
    color: #454138;
}
.navbar .container-fluid span{
    letter-spacing: 5px;
}
.navbar-scrolled{
    background-color: rgb(209, 205, 183);
}
section .main-row .side-bar{
    border: solid #454138;
    border-width: 0 0.1rem;
}
section .main-row .side-bar a{
    border: solid #454138;
    border-width: 0 0 0.1rem 0;
    color: #454138;
    transition: all 0.2s ease;
}
section .main-row .side-bar a:hover{
    color: #c0bcb1;
}
section .main-row .main-content .row:nth-child(2) h2{
    border: solid #454138;
    border-width: 0.1rem 0;
}
section .main-row .main-content .row:nth-child(2) .yorha-army{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
section .main-row .main-content .row:nth-child(2) .yorha-army span{
    background-color: rgba(175, 174, 165, 0.75);
    padding: 5px;
}
.text-justify{
    text-align: justify;
}
section .main-row .footer{
    border: solid #454138;
    border-width: 0 0 0 0.1rem;
}
section .main-row .footer .gallery-foto{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
}
footer .container{
    border: solid #454138;
    border-width: 0.1rem 0 ;
}
footer .row .right-footer a{
    color: #454138;
    transition: all 0.2s ease;
}
footer .row .right-footer a:hover{
    color: #c0bcb1;
}
@media only screen and (max-width: 1200px) {
    section .main-row .footer{
        border: solid #454138;
        border-width: 0.1rem 0;
    }
}
@media only screen and (max-width: 170px) {
    .navbar{
        height: 20px;
    }
    .navbar img{
        width: 1px;
        height: 11px;
    }
    .navbar .container-fluid>span{
        display: none;
    }
    html{
        font-size: 9px;
    }
}